/* VARIABLES */
:root {
  --almost-White: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

/* FOR RESPONSIVENESS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  background-color: var(--almost-White);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

/* UTILITY CLASSES FOR JAVASCRIPT */
.hidden {
  display: none;
}

/* .show {
  display: block;
} */
/* END */

/* NAVIGATION SECTION i.e LOGO, NAV TOGGLE, SLIDE OUT AND DROPDWNS */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo-box {
  width: 100%;
  height: auto;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.navigation__input {
  display: none;
}

.navigation__input,
.navigation__button {
  position: relative;
  z-index: 100;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: var(--almost-black);
  position: relative;
  transition: all 0.2s;
}

.navigation__icon::before,
.navigation__icon::after {
  content: " ";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -0.7rem;
}

.navigation__icon::after {
  top: 0.7rem;
}

.navigation__background {
  height: 100vh;
  width: 0;
  display: none;
  background-color: var(--almost-White);

  position: absolute;
  top: 0;
  right: 0;

  transition: all 0.2s;
}

.navigation__slide {
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  padding: 1rem 0;
  display: block;
  width: 100%;
}

.navigation__link:link,
.navigation__link:visited {
  font-size: 1.6rem;
  color: var(--medium-gray);
  text-decoration: none;
  transition: all 0.2s;
}

.navigation__link span {
  padding-right: 1rem;
}

.navigation__link:active,
.navigation__link:hover {
  color: var(--almost-black);
}

.navigation__link:hover .navigation__slide-icon--1 {
  fill: var(--almost-black);
}

.navigation__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* NAVIGATION TOGGLE FUNCTIONALITY */
.navigation__input:checked ~ .navigation__background {
  display: block;
  width: 60vw;
}

.navigation__input:checked ~ .navigation__background .navigation__slide {
  opacity: 1;
  visibility: visible;
}

.navigation__input:checked ~ .navigation__button .navigation__icon {
  height: 0;
}

.navigation__input:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__input:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
/* END */

/* NAVIGATION LINK'S DROPDOWN BOX OF BOTH FEATURES AND COMPANY */

.show {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.dropdown {
  transition: all 0.2s;
}

.dropdown__list {
  padding: 2rem;
  padding-bottom: 0;
}

.dropdown__item {
  list-style: none;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.dropdown__link {
  font-size: 1.6rem;
  color: var(--medium-gray);
  text-decoration: none;
}

.dropdown__link:active,
.dropdown__link:hover {
  color: var(--almost-black);
}

.dropdown__link:hover > span img {
  animation: bounce 0.3s ease-in-out 2;
}

.dropdown__link span {
  padding-right: 1.5rem;
}

/* END */

/* HEADER CONTENT i.e OTHER CONTENT IN THE HEADER OTHER THAN THE NAV */

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 2rem;
  align-items: center;
}

.header__content-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--medium-gray);
}

.heading--2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.heading--2.desktop {
  display: none;
}

.header__photo {
  width: 100%;
}

.header__photo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.header__logos {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  max-height: 5vh;
  max-width: 20vw;
}

/* BUTTON SECTION e.g colored and empty */
.btn {
  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  padding: auto;
  color: var(--medium-gray);
  background-color: inherit;
  border: 2px solid transparent;
  transition: all 0.2s;
}

.btn:hover {
  color: var(--almost-black);
}

.btn--colored {
  color: var(--almost-White);
  background-color: var(--almost-black);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.btn--colored:hover {
  color: var(--almost-black);
  background-color: var(--almost-White);
  border: 2px solid var(--almost-black);
}

.btn--bordered {
  border: 2px solid var(--medium-gray);
  border-radius: 1em;
  padding: 1rem 0;
  align-self: stretch;
  transition: all 0.2s;
}

.btn--bordered:hover {
  border: 2px solid var(--almost-black);
}

.attribution {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  margin-top: 8rem;
}

.attribution a:link,
.attribution a:visited {
  color: var(--medium-gray);
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.2s;
}

.attribution a:hover {
  opacity: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* MEDIA QUERIES FOR GENERAL STYLES */

@media screen and (min-width: 40em) {
  .nav {
    padding: 0 5rem;
    margin-bottom: 5rem;
  }

  .navigation .navigation__button,
  .navigation .navigation__input {
    display: none;
  }

  .navigation__background {
    display: block;
    height: max-content;
    width: auto;
    background-color: inherit;
    position: unset;
  }

  .navigation__slide {
    width: 85vw;
    opacity: 1;
    margin-top: 0;
    visibility: visible;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation__list {
    padding: 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .navigation__link:link {
    font-size: 1.5rem;
  }

  .navigation__item {
    padding: 0;
    position: relative;
  }

  /* .navigation__link:hover ~ .dropdown--1 {
    opacity: 1;
    visibility: visible;
    height: max-content;
  } */

  .navigation__btns {
    font-size: 1.5rem;
    flex-direction: row;
    justify-items: center;
  }

  .dropdown {
    font-size: 1.5rem;
    position: absolute;
    top: 150%;
    right: 15%;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 1px 25px 1px rgb(105, 105, 105, 0.2);
  }

  .dropdown__list {
    padding-bottom: 2rem;
  }

  .header {
    width: 80vw;
    margin: 0 auto;
    align-items: flex-end;

    grid-template-rows: 60rem;
    gap: 0;
  }

  .header__photo {
    width: auto;
    height: 100%;
  }

  .header__photo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
  }

  .header__content {
    order: -1;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
  }

  .heading--2 {
    font-size: 6.5rem;
    width: 100%;
  }

  .heading--2.desktop {
    display: block;
  }

  .heading--2.mobile {
    display: none;
  }

  .header__content-text {
    font-weight: 700;
    width: 80%;
    text-align: start;
  }

  .header__logos {
    margin-top: 5rem;
  }

  /* BUTTONS */

  .btn {
    padding: 1em 2em;
  }
}
